@model AlexanderRolOnlineCV.Models.Courses

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Courses</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CourseName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CourseName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Semester)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Semester)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FinalGrade)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FinalGrade)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CoursesID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
