@model IEnumerable<AlexanderRolOnlineCV.Models.Courses>

@{
    ViewData["Title"] = "Courses";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create">Add a new course</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CourseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Semester)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FinalGrade)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CourseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Semester)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FinalGrade)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CoursesID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CoursesID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CoursesID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
